////////////////////////////////////////////////////////////////////////////////////
//Controls the positioning, behaviour and sizing of elements inside the footer panel
////////////////////////////////////////////////////////////////////////////////////
.wrapper {
  display: grid;
  grid-gap: 2.5vw;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: 6vh 6vh 6vh;
}

.box {
  border-radius: $border-radius;
  font-size: $l-size;
}

.a {
  grid-column: 1;
  grid-row: 2;
}
.b {
  grid-column: 2;
  grid-row: 2;
}
.c {
  grid-column: 3;
  grid-row: 2;
}
.d {
  background-color: $colorface;
  color: #fff;
  grid-column: 2;
  grid-row: 1/3;
}
