// Colors
$colorface: FireBrick;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Relative sizing for element contents
$si-size: 1.5em;
$mi-size: 2.5em;
$li-size: 3.5em;

$vMargin: 10vh;
$hMargin: 10vw;
$vContent: 1.2rem;
$hContent: 1.2rem;
// Common box attributes;
$border-radius: 5px;
//For media queries
$desktop-breakpoint: 45rem;
